* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

.hero {
  min-height: 100vh;
  background: url(image/img1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 89%;
  margin: auto;
  padding-top: 20px;
}

.logo {
  width: 150px;
  font-size: x-large;
}

.logo span {
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  transition: 3s;
}

nav ul li a:hover {
  border-bottom: 2px solid #9500ff;
}

nav button {
  padding: 10px 30px;
  border: none;
  background: #9500ff;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 35%;
  left: 90px;
}

h2 {
  font-size: 50px;
  color: #fff;
}

p {
  font-size: 11px;
  margin-top: 10px;
  color: #fff;
}

.content button {
  padding: 12px 35px;
  margin-top: 40px;
  border: none;
  border-radius: 2rem;
  background-color: #9500ff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.content button:hover {
  scale: 1.1;
}

.content .know_more {
  margin-left: 25px;
  border: 2px solid #9500ff;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.content .know_more:hover {
  box-shadow: 0 0 25px #9500ff;
}

.card {
  display: flex;
  margin-top: 50px;
  gap: 20px
}

.card img {
  width: 130px;
  height: 120px;
  border: 2px solid #9500ff;
  border-radius: 10px;
  transition: .4s;
}

.card img:hover{
    transform: rotate(20deg);
}
